@import url('https://fonts.googleapis.com/css2?family=Freeman&family=Manrope:wght@200..800&family=Mukta:wght@200;300;400;500;600;700;800&display=swap');


:root {
    --main-background: #F6F7F8;
    --color-white: #FFFFFF;
    --color-styles: #072635;
    --color-chart: #F4F0FE;
    --color-chart-1a: #7E6CAB;
    --color-chart-1b: #8C6FE6;
    --color-chart-2b: #C26EB4;
    --color-chart-2a: #E66FD2;
    --color-button: #01F0D0;
    --color-info-dark: #707070;
    --color--info-light: #EDEDED;
    --color-temprature: #FFE6E9;
    --color-lungs: #E0F3FA;
    --color-heart: #FFE6F1;

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    border: 0;
    box-sizing: border-box;
    outline: none;
    appearance: none;
}

body {
    background: var(--main-background);
    width: 100vw;
    height: 100vh;
    font-family: "Manrope", sans-serif;
    font-size: 14px;
    font-weight: bold;
    user-select: none;
    overflow-x: hidden;

}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 72px 1fr;
    padding: 18px 18px 0 18px;
    gap: 32px;
    height: 100%;
    grid-template-areas:
        "head" "main"
    ;
}

/* ==== HEADER STARTDS HERE ===== */

header {
    background-color: var(--color-white);
    grid-area: head;
    position: relative;
    top: 0;
    border-radius: 2rem;

    display: flex;
    justify-content: space-between;
}

header .logo {
    width: 210px;
    height: 48px;
    padding: 4px;
}

/*  ==== navigation ==== */
header nav ul {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;


}

nav ul li {
    font-size: 14px;
    display: flex;
    align-items: center;
    padding: 7px;
    width: 121px;
    height: 41px;
    gap: 8px;
    justify-content: center;
}

nav ul .active {
    background: var(--color-button);
    border-radius: 2rem;


}

/*  ==== END NAVIGATION ===== */

/* ======  ACCOUNTS ====== */
.account {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.profile {
    display: flex;
    align-items: center;
    justify-content: space-between;

}


.profile-text {
    padding: 0 8px;
}

.profile-text .name {
    font-weight: bold;
    color: var(--color-styles);

}


.profile-text .occupation {
    font-weight: 100;
    color: var(--color-info-dark);
}

.settings {
    padding: 0 18px 0 0;
}

/* ==== END PROFILE ==== */

/* ==== END HEADER ==== */

/* === START MAIN === */

main {
    grid-area: main;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 23px;
    padding-bottom:18px ;
    height: 100%;
    grid-template-areas:
        "left center center right"

    ;
}

/*  ===== start left side ==== */
.left {
    grid-area: left;
    background: var(--color-white);
    padding: 20px;
    height: 100%;
    border-radius: 1rem;
}

.left .header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 8px;
}


.left .contents {
    display: flex;
    flex-direction: column;
    max-height: 100vh;
    overflow-y: scroll;
    padding-right: 8px;

}

.left .contents::-webkit-scrollbar {
    width: 4px;
}

.left .contents::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.left .contents::-webkit-scrollbar-thumb {
    background: #888;
}

.left .contents::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.left .contents .profile {
    margin: 16px 0;
    position: relative;
    ;

}

.left .contents .profile>div {
    display: flex;

}



/* ==== end left side ==== */

/* ==== start center ==== */

.center {
    grid-area: center;
    height: 100%;

}

.diagnosis {
    padding: 20px;
    border-radius: 1rem;
    background-color: var(--color-white);
}
.history-container{
    margin-bottom: 32px;
    
}

.header {
    display: flex;
    justify-content: start;
    padding-bottom: 8px;

}

.header .title {
    font-size: 24px;

}


/*  ===== ====== Start CHart Area ===== */
.chart-container {
    display: grid;
    grid-template-columns: repeat(3, 1f);
    grid-template-rows: repeat(2, 1fr);
    max-height: 230px;
    max-width: 720px;
    padding: 16px 16px;
    margin: 20px 0;
    border-radius: 1rem;
    grid-template-areas:
        "chart chart stat"
        "chart chart stat";
    background: var(--color-chart);

}

.chart-container .chart-area {
    grid-area: chart;
    /* background: orange; */
}

.chart-container .chart-area .chart-header {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
}


.chart-container .chart-area .chart-header .months {
    font-weight: 300;
    font-size: 14px;
    padding-right: 8px;
}

canvas#myChart {
    width: 100% !important;
    padding: 14px 0 20px 0 !important;
}

.chart-container .status-area {
    grid-area: stat;
    display: flex;
    flex-direction: column;
    /* justify-content:s; */
}

.chart-status {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    padding-bottom: 33px;
}

.status-area .chart-status .ellips {
    height: 14px;
    width: 14px;
    border-radius: 50%;
    display: inline-block;
}

.ellips.systolic {
    background: var(--color-chart-2a);

}

.ellips.diastolic {
    background: var(--color-chart-1a);

}

.stats-value {
    font-size: 22px;
    font-weight: bold;
}

.stat-indicator {
    font-weight: 100;
    font-size: 14px;
}

/*  ==== END CHART AREAs === */

/* ====== start diag cards ===== */
.stats-cards {

    display: flex;
    justify-content: space-between;
    gap: 21px;

}

.stats-cards .card {
    display: flex;
    flex-direction: column;
    padding: 16px;
    border-radius: 1rem;
    width: 100%;
}

.stats-cards .card.temp {
    background: var(--color-temprature);
}

.stats-cards .card.heart {
    background: var(--color-heart);
}

.stats-cards .card.lung {
    background: var(--color-lungs);
}

.stats-cards .card img {
    width: 96px;
    margin-bottom: 16px;
}

.stats-cards .card .text {
    font-size: 16px;
    font-weight: 500;
}

.stats-cards .card .rates {
    font-size: 30px;
    font-weight: bold;
}

.stats-cards .card .rate-status {
    font-weight: 100;
    margin-top: 16px;
}

/* ====  end card here === */

/*====== table starts here ======*/

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
}

td,
th {
    border: none;
    text-align: left;
    padding: 8px;
}

td {
    height: 60px;
    border-bottom: 1px solid var(--color--info-light);
font-weight: 500;
}


.table-head {
    background-color: #afaaaa;
    border-radius: 1rem;

}


table tr:last-child th:first-child {
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

table tr:last-child th:last-child {
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

tbody {
    display: block;
    height: 180px;
    /* width:100%; */
    overflow-y: auto;
}

thead,
tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;

}


/*  ======  tables ends here ===== */
/* ==== end center ==== */



/*  ===== start right side ==== */

.right {
    grid-area: right;

}

/*  ==== profile section starts here === */
.right .patient-profile-conainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--color-white);
    border-radius: 1rem;
    padding: 14px;
    margin-bottom: 32px;
}

.patient-profile-image img {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    overflow: hidden;
}

.patient-details {

    align-self: self-start;
}

.detail-box {
    display: flex;
    gap: 16px;
    padding: 12px;
}

.detail-box .details .head {
    font-weight: 500;
}

.patient-profile-conainer button {

    background: var(--color-button);
    font-size: 14px;
    border-radius: 2rem;
    padding: 11px 40px;
    width: 220px;
    height: 41px;
    margin: 20px;
}

/* ====profile section end here =====*/

/* ===== results starts here === */
.lab-results-container {
    background: var(--color-white);
    padding: 14px;
    border-radius: 1rem;


}

.lab-results-container .contents {
    max-height: 100px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 11px 16px;
}

.files {
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}



/* -==== results end here === */

/* ==== end right side ==== */